---
import Layout from "../layouts/Layout.astro"
import About from "../components/About.astro"
---

<Layout title="Николай Сороколетов" lang=ru>
  <main class="flex flex-col gap-10 items-center justify-center min-h-screen">
    <About />
  </main>
</Layout>