---
import { Picture } from "astro:assets";
---
<div class="min-h-screen flex flex-col">
  <div id="tsparticles" class="fixed top-0 left-0 w-full h-full -z-10"></div>
  <main class="flex-grow flex items-center justify-center">
    <div class="about-me">
      <div class="flex flex-col gap-10 font-light p-4">
        <div class="flex-shrink-0 gap-2 flex flex-col items-center">
          <img 
            src='/myphoto.png'
            alt="#"
            loading="lazy"
            decoding="async"
            class="skeleton w-[12.5rem] h-[12.5rem] md:h-[25vh] md:w-[25vh] object-cover rounded-full"
          />
          <p class="text-4xl font-medium text-center">Николай Сороколетов</p>
          <p class="text-sm text-gray-500 text-center">(aka: waste3d, uweaky)</p>
        </div>

        <div class="flex flex-col md:flex-row gap-4 w-full max-w-screen">
          <div class="flex-1 flex flex-col items-center">
            <p class="text-xl font-medium text-white mb-2">Контакты</p>
            <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <a
                  class="focus:text-purple-400 hover:text-purple-400 transition items-center flex flex-row gap-1"
                  href="https://t.me/waste3d"
                >
                  <i class="text-purple-400 fa-brands fa-telegram"></i>
                  @waste3d
                </a>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <a
                  class="focus:text-purple-400 hover:text-purple-400 transition items-center flex flex-row gap-1"
                  href="mailto:kolya@waste3d.su"
                >
                  <i class="text-purple-400 fa-solid fa-envelope"></i>
                  kolya@waste3d.su
                </a>
              </div>
            </div>
          </div>

          <div class="flex-1 flex flex-col items-center">
            <p class="text-xl font-medium text-white mb-2">Навыки</p>
            <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-brands fa-golang text-blue-300"></i>
                  Go
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-brands fa-square-js text-yellow-400"></i>
                  JavaScript
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-brands fa-docker text-blue-400"></i>
                  Docker
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-brands fa-gitlab text-orange-400"></i>
                  Git/GitLab
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-brands fa-linux text-red-400"></i>
                  Linux
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-solid fa-database text-green-400"></i>
                  SQL
                </span>
              </div>
              <div class="bg-zinc-900 p-2 border-2 border-gray-700 rounded-md flex items-center">
                <span class="flex flex-row items-center gap-1">
                  <i class="fa-solid fa-server"></i>
                  Nginx
                </span>
              </div>
            </div>
          </div>
        </div>

      <div id="tsparticles" class="fixed top-0 left-0 w-full h-full -z-10"></div>
          <main class="flex-grow flex items-center justify-center">
            <div class="w-full max-w-screen-lg p-6">
              <!-- Заголовок портфолио -->
              <div class="relative mb-8">
                <p class="text-xl font-medium text-white absolute -top-8 left-1/2 transform -translate-x-1/2  px-4 py-2">
                  Портфолио
                </p>
              </div>
        
              <!-- Блок с проектами и инфраструктурой -->
              <div class="w-full p-6 backdrop-blur-sm bg-zinc-900/50 rounded-xl border-2 border-gray-700">
                <div class="flex flex-col items-center">
                  <!-- Используем грид для двух колонок -->
                  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8">
                    <!-- Левая колонка: Инфраструктура -->
                    <div class="p-6 ">
                      <p class="text-2xl font-medium text-white mb-2">
                        <i class="fa-solid fa-server text-purple-400"></i> Собственная IT-инфраструктура
                      </p>
                      <p class="text-gray-400 text-sm mb-2">≈ Q2 2024 — н.в.</p>
                      <p class="mb-2 font-bold text-white">Настроил несколько серверов, включая:</p>
                      <ul class=" text-white space-y-1">
                        <li><i class="fa-solid fa-network-wired text-purple-400 mr-1"></i> Linux-серверы (Debian, Ubuntu)</li>
                        <li><i class="fa-brands fa-docker text-purple-400 mr-1"></i> Контейнеризацию через Docker Compose</li>
                        <li><i class="fa-solid fa-gears text-purple-400 mr-1"></i> Автоматизацию с Ansible</li>
                        <li><i class="fa-solid fa-globe text-purple-400 mr-1"></i> Веб-серверы и Nginx reverse proxy</li>
                        <li><i class="fa-solid fa-desktop text-purple-400 mr-1"></i> Мониторинг с Prometheus + Grafana</li>
                        <li><i class="fa-solid fa-code-branch text-purple-400 mr-2"></i> Системы контроля версий Git, Gitlab</li>
                        <li><i class="fa-solid fa-envelope text-purple-400 mr-1"></i> Self-Hosting NextCloud и своих проектов</li>
                      </ul>
                    </div>
        
                    <!-- Правая колонка: Проекты -->
                    <div class="p-6 ">
                      <p class="text-2xl font-medium text-white mb-4">
                        <i class="fa-solid fa-folder-open text-purple-400"></i> Проекты
                      </p>
        
                      <!-- Проект 1 -->
<div class="mb-4">
  <p class="text-lg font-semibold text-white">
    <i class="fa-solid fa-link text-purple-300 mr-1 mt-1"></i> Url Shortener
  </p>
  <p class="text-gray-400 text-sm">≈ Q1 2025 - н.в. — Сервис сокращения ссылок</p>
  <p class="text-gray-600 text-sm">Cтек: Go(Gin), Gorm, React, Redis, PosgreSQL, TailwindCSS
  </p>
 
  <a 
    href="https://github.com/waste3d/url-shortner"
    target="_blank"
    class="inline-block mt-5 px-3 py-1 border border-purple-400 text-purple-300 hover:bg-purple-800/20 rounded text-sm transition"
  >
    <i class="fa-brands fa-github"></i> Исходный код
  </a>
</div>
<div class="w-full h-[1px] bg-gray-700 my-4"></div>

<!-- Проект 2 -->
<div>
  <p class="text-lg font-semibold text-white">
    <i class="fa-solid fa-magnifying-glass text-purple-300 mr-1"></i> Godev searcher
  </p>
  <p class="text-gray-400 text-sm">≈ Q1 2025 - н.в. — Система поиска информации о людях</p>
  
  <!-- Секция с технологическим стеком -->
  <p class="text-gray-600 text-sm">Стек: Go(Echo), Gorm, VueJS, PosgreSQL, TailwindCSS</p>
  

  <a 
    href="https://github.com/waste3d/godev-searcher"
    target="_blank"
    class="inline-block mt-5 px-3 py-1 border border-purple-400 text-purple-300 hover:bg-purple-800/20 rounded text-sm transition"
  >
    <i class="fa-brands fa-github"></i> Исходный код
  </a>
</div>

                    </div>
                  </div>
                </div>
        


        
        
            
      </div>
    </div>
  </main>

  <footer class=" text-gray-400 text-center p-4">
    Made w/ <a class="hover:text-purple-400 focus:text-purple-400" href="https://astro.build">astro</a>. 
    Все права <a class="hover:text-blue-400 focus:text-blue-400" href="https://github.com/waste3d/website/blob/main/license"> защищены.</a> 
    Исходный код - <a class="hover:text-white focus:text-white" href="https://github.com/waste3d/website"><i class="fa-brands fa-github"></i></a>
  </footer>
</div>


<script>
  window.addEventListener("load", () => {
    tsParticles.load("tsparticles", {
      fullScreen: { enable: false },
      background: {
        color: "#0f0f0f"
      },
      particles: {
        number: { value: 80, density: { enable: true, area: 800 } },
        color: { value: "#888" },
        shape: { type: "circle" },
        opacity: { value: 0.5 },
        size: { value: 3 },
        move: { enable: true, speed: 1 },
        links: {
          enable: true,
          distance: 150,
          color: "#888",
          opacity: 0.4,
          width: 1
        }
      },
      interactivity: {
        detectsOn: "canvas",
        events: {
          onHover: {
            enable: true,
            mode: "repulse"
          },
          onClick: {
            enable: true,
            mode: "push"
          },
          resize: true
        },
        modes: {
          repulse: {
            distance: 100,
            duration: 0.4
          },
          grab: {
            distance: 140,
            links: {
              opacity: 1
            }
          },
          push: {
            quantity: 4
          },
          bubble: {
            distance: 200,
            size: 6,
            duration: 2,
            opacity: 0.8
          }
        }
      }
    });
  });
</script>
