---
import '../styles/global.css'
// Supports weights 400-700
// Supports weights 100-900
import '@fontsource-variable/geologica';

interface Props {
  title: string;
  lang: string | undefined;
}


const { title, lang } = Astro.props;
---

<!doctype html>
<html lang=ru>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Nikolay Sorokoletov — waste3d" />
    <meta
      name="keywords"
      content="Николай, Сороколетов, Николай Сороколетов, waste3d, Golang разработчик, DevOps, Nikolay Sorokoletov, Nikolay, Sorokoletov"
    />
    <meta name="author" content="Nikolay Sorokoletov" />
    <meta property="og:title" content="Nikolay Sorokoletov" />
    <meta property="og:description" content="Nikolay Sorokoletov — waste3d" />
    <meta property="og:url" content="https://waste3d.site" />
    <meta name="twitter:title" content="Nikolay Sorokoletov" />
    <meta
      name="twitter:description"
      content="Nikolay Sorokoletov — waste3d"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
    <script src="https://static.arlcrow.site/fa/js/solid.min.js"></script>
    <script src="https://static.arlcrow.site/fa/js/brands.min.js"></script>
    <script src="https://static.arlcrow.site/fa/js/duotone.min.js"></script>
    <script src="https://static.arlcrow.site/fa/js/fontawesome.js"></script>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-gray-100 flex flex-col min-h-screen">
    <slot />
  </body>
</html>